# SPDX-License-Identifier: GPL-2.0-only

config ST_HTS221_IIO
	tristate "STMicroelectronics HTS221 sensor Driver"
	depends on (I2C || SPI)
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	select ST_HTS221_I2C_IIO if (I2C)
	select ST_HTS221_SPI_IIO if (SPI_MASTER)
	help
	 Say yes here to build support for STMicroelectronics HTS221
	 temperature-humidity sensor

	 To compile this driver as a module, choose M here: the module
	 will be called hts221.

config ST_HTS221_I2C_IIO
	tristate
	depends on ST_HTS221_IIO
	select REGMAP_I2C

config ST_HTS221_SPI_IIO
	tristate
	depends on ST_HTS221_IIO
	select REGMAP_SPI
