# SPDX-License-Identifier: GPL-2.0-only
#
# IIO Accelerometer drivers configuration
#
# When adding new entries keep the list in alphabetical order

menu "Accelerometer"

source "drivers/iio/stm/accel/st_acc33/Kconfig"
source "drivers/iio/stm/accel/st_h3lis331dl/Kconfig"
source "drivers/iio/stm/accel/st_iis2iclx/Kconfig"
source "drivers/iio/stm/accel/st_ism303dac_accel/Kconfig"
source "drivers/iio/stm/accel/st_lis2ds12/Kconfig"
source "drivers/iio/stm/accel/st_lis2du12/Kconfig"
source "drivers/iio/stm/accel/st_lis2duxs12/Kconfig"
source "drivers/iio/stm/accel/st_lis2dw12/Kconfig"
source "drivers/iio/stm/accel/st_lis2hh12/Kconfig"
source "drivers/iio/stm/accel/st_lis3dhh/Kconfig"

endmenu
