# SPDX-License-Identifier: GPL-2.0-only
#
# IIO temperature drivers configuration
#
# When adding new entries keep the list in alphabetical order

menu "Temperature"

source "drivers/iio/stm/temperature/stts22h/Kconfig"

endmenu
