# SPDX-License-Identifier: GPL-2.0-only
#
# IIO pressure drivers configuration
#
# When adding new entries keep the list in alphabetical order

menu "Pressure"

source "drivers/iio/stm/pressure/st_lps22df/Kconfig"
source "drivers/iio/stm/pressure/st_lps33hw/Kconfig"
source "drivers/iio/stm/pressure/st_lps22hh/Kconfig"
source "drivers/iio/stm/pressure/st_lps22hb/Kconfig"
source "drivers/iio/stm/pressure/st_ilps22qs/Kconfig"

endmenu
