# SPDX-License-Identifier: GPL-2.0-only

config IIO_ST_LSM6DSVXHG
	tristate "STMicroelectronics LSM6DSVXHG sensor"
	depends on (I2C || SPI)
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	select IIO_ST_LSM6DSVXHG_I2C if (I2C)
	select IIO_ST_LSM6DSVXHG_SPI if (SPI_MASTER)
	select IIO_ST_LSM6DSVXHG_I3C if (I3C)
	help
	  Say yes here to build support for STMicroelectronics LSM6DSVXHG imu
	  sensor.

	  To compile this driver as a module, choose M here: the module
	  will be called st_lsm6dsvxhg.

config IIO_ST_LSM6DSVXHG_I2C
	tristate
	depends on IIO_ST_LSM6DSVXHG

config IIO_ST_LSM6DSVXHG_SPI
	tristate
	depends on IIO_ST_LSM6DSVXHG

config IIO_ST_LSM6DSVXHG_I3C
	tristate
	depends on IIO_ST_LSM6DSVXHG
	select REGMAP_I3C

config IIO_ST_LSM6DSVXHG_MLC_PRELOAD
	bool "Preload some examples on MLC/FSM core"
	depends on IIO_ST_LSM6DSVXHG
	help
	  Select yes if you want to preload some examples on machine learning core
	  and finite state machine.

	  The examples code is a motion intensity recognition and is hardcoded in the
	  driver in the mlcdata structure.

config IIO_ST_LSM6DSVXHG_ASYNC_HW_TIMESTAMP
	bool "Enable async hw timestamp read"
	depends on IIO_ST_LSM6DSVXHG
	help
	  Enable async task that sends over hw timestamp events.
