# SPDX-License-Identifier: GPL-2.0-only

config IIO_ST_LIS3DHH
	tristate "STMicroelectronics LIS3DHH/IIS3DHHC Accelerometer driver"
	depends on SPI_MASTER && SYSFS
	select IIO_BUFFER
	select IIO_KFIFO_BUF
	select REGMAP_SPI
	help
	 Say yes here to build support for STMicroelectronics LIS3DHH and
	 IIS3DHHC accelerometers

	 This driver can also be built as a module. If so, will be named
	 st_lis3dhh
