# SPDX-License-Identifier: GPL-2.0-only

config ST_LPS22HB_IIO
	tristate "STMicroelectronics LPS22HB sensor"
	depends on (I2C || SPI_MASTER) && SYSFS
	select IIO_BUFFER
	select IIO_KFIFO_BUF
	select ST_LPS22HB_I2C_IIO if (I2C)
	select ST_LPS22HB_SPI_IIO if (SPI)
	help
	 This driver supports LPS22HB pressure sensor. This driver can be
	 built as a module. The module will be called st-lps22hb.

config ST_LPS22HB_I2C_IIO
	tristate
	select REGMAP_I2C
	depends on ST_LPS22HB_IIO

config ST_LPS22HB_SPI_IIO
	tristate
	select REGMAP_SPI
	depends on ST_LPS22HB_IIO
