# SPDX-License-Identifier: GPL-2.0-only
#
# Magnetometer sensors
#
# When adding new entries keep the list in alphabetical order

menu "Magnetometer sensors"

source "drivers/iio/stm/magnetometer/st_mag3d/Kconfig"
source "drivers/iio/stm/magnetometer/st_mag40/Kconfig"

endmenu
